<!DOCTYPE html>
<html lang="es">
{% extends "masutilapp/base.html"%}

{% load static%}
  
{% block content%}
<main class="pt-5 bg-primary">
    <div class="container-fluid mt-3 bg-primary">
   

  
    </div>
    <div class="container mt-3">
    <div class="row">
      <img src="reunion.png" class="mx-auto d-block" width="20" height="500">
        </div>
        <div class="row">
          <div class="mt-4 p-5 bg-warning text-secondary rounded">
            <h1>Sobre nosotros</h1>
            <p>En Más útil, nos dedicamos apasionadamente al desarrollo de software 
              innovador desde el aó 2024. Durante 1 año de trayectoria en la industria, 
              hemos superado con éxito los desafíos tecnológicos más exigentes y hemos colaborado con 
              numerosos clientes para transformar sus ideas en realidad.
              
              Nuestra misión es proporcionar soluciones a la medida que marquen la diferencia en el 
              mundo digital. Nos enorgullecemos de satisfacer a nuestros usuarios al ofrecerles 
              aplicaciones y sistemas altamente funcionales, seguros y atractivos que les ayudan a 
              sus necesidades relacionadas a la educación. La retroalimentación positiva de nuestros 
              clientes es nuestro mayor impulso y un testimonio de la calidad y compromiso que ponemos 
              en cada proyecto.
              
              Con una visión centrada en la innovación y el futuro, continuamos evolucionando y 
              adoptando las últimas tecnologías para asegurarnos de que nuestros clientes estén un paso 
              adelante en un mundo tecnológico en constante cambio.</p>
          </div>
        </div>
        
    </div>
</div>
</main>
{% endblock%}