<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <title>Más útil</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <img src="{%static 'masutilapp/img/logo.png' %}" alt="15" width="50" height="50">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'Inicio' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Sobre nosotros' %}">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Contacto' %}">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Registro' %}">Registrarse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Login' %}">Iniciar sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Perfil' %}">Mi perfil</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    {% block content%}

    
    {% endblock %}
    <footer class="bg-secondary p-3">
      <div class="container text-center">
        
        <small class="text-white">
          &copy; 2023 Más útil, dale más vida a tu aprendizaje 
        </small>
      </div>
    </footer>
  </body>
</html>