{% extends "masutilapp/base.html"%}

{% load static%}

{% block content%}
    <main class="pt-5 bg-primary">
        <div class="container mt-3 bg-primary">
            <div class="container mt-3">
                <div class="row">    
                    <div class="col p-3">                                      
                        <div class="form-floating mb-3 mt-3">
                            <img src="{%static 'masutilapp/img/perfil.png' %} " alt="50%" width="50%">
                        </div>                     
                    </div>
                    <div class="col p-3">                         
                          <div class="mt-4 p-5 bg-secondary text-info rounded">     
                            <h1>Julieta Román</h1> 
                                <p>Calificación: 4.5 <br>
                                    Número de calificaciones: 343  
                                    <a href="calificacion.html">Ir</a> 
                                </p>                        
                            </div>                                 
                    </div>                        
                    <div class="container-fluid mt-3">
                        <div class="row">                        
                            <div class="text-center bg-secondary">
                                <h3>Mis productos</h3>
                            </div>                        
                        </div>
                        <div class="container-fluid mt-3">   
                            <div class="row">
                                <div class="col-sm-4">   
                                    <div class="card bg-warning text-white">
                                        <img class="mx-auto d-block rounded" src="librousado.jpg" alt="Card image" style="width:250px; height:250px" >
                                        <div class="card-body">
                                            <h4 class="card-title">Libro: El Bisonte <br>Precio: $25000</h4>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Editar</button> 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Remover</button> 
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>                                                          
                                </div>
                                <div class="col-sm-4">   
                                    <div class="card bg-warning text-white">
                                        <img class="mx-auto d-block rounded" src="uniform1.png" alt="Card image" style="width:250px;height:250px">
                                        <div class="card-body">
                                            <h4 class="card-title">Uniforme: Niña, Talla m <br>Precio: $45000</h4>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Editar</button> 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Remover</button> 
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>                                                           
                                </div>
                                <div class="col-sm-4">   
                                    <div class="card bg-warning text-white">
                                        <img class="mx-auto d-block rounded" src="utillapiz.JPG" alt="Card image" style="width:250px;height:250px">
                                        <div class="card-body">
                                            <h4 class="card-title">Utiles: Set de lapices <br>Precio: $2500</h4>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Editar</button> 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Remover</button> 
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>                                                          
                                </div>                               
                            </div>
                        </div>
                        <div class="container-fluid mt-3">   
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card bg-warning text-white">
                                        <img class="mx-auto d-block rounded" src="unifenfermeria.jpg" alt="Card image" style="width:250px;height:250px">
                                        <div class="card-body">
                                            <h4 class="card-title">Uniforme: Enfermeria UNAL <br>Precio: $30000</h4>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Editar</button> 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Remover</button> 
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-sm-4">   
                                    <div class="card bg-warning text-white">
                                        <img class="mx-auto d-block rounded" src="librocalculo.jpg" alt="Card image" style="width:250px;height:250px">
                                        <div class="card-body">
                                            <h4 class="card-title">Libro: Calculo <br>Precio: $12500</h4>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Editar</button> 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Remover</button> 
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>                                                            
                                </div>
                                <div class="col-sm-4">   
                                    <div class="card bg-warning text-white">
                                        <img class="mx-auto d-block rounded" src="cuaderno.jpg" alt="Card image" style="width:250px;height:250px">
                                        <div class="card-body">
                                            <h4 class="card-title">Utiles: Set de cuadernos <br>Precio: $5000</h4>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Editar</button> 
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-secondary text-info active text-center">Remover</button> 
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>                                                           
                                </div>                               
                            </div>
                        </div>
                            
                            
                    </div>
                    <div class="row">                        
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary text-info active text-center">Agregar</button> 
                            </div>                        
                    </div>
                </div>
            </div>           
        </div>
    </main>
{% endblock%}