{% extends "masutilapp/base.html"%}

{% load static%}

{% block content%}
    <main class="pt-5 bg-primary">
        <div class="container mt-3 bg-primary">
            <div class="container mt-3">
                <div class="row">    
                    <div class="col p-3">                
                      <form action="/action_page.php">
                        <div class="form-floating mb-3 mt-3">
                          <select class="form-select" id="sel1" name="sellist">
                            <option>INEM Carlitos</option>
                            <option>Colegio Don Bosco</option>
                            <option>UNAL</option>
                            <option>IED Ciudad de Bogota</option>
                          </select>
                          <label for="sel1" class="form-label">Selecccione institucion (seleccione una):</label>
                        </div>
                      </form>
                    </div>
                    <div class="col p-3">  
                        <form action="/action_page.php">
                          <div class="form-floating mb-3 mt-3">
                            <select class="form-select" id="sel2" name="sellist2">
                              <option>XS</option>
                              <option>S</option>
                              <option>M</option>
                              <option>L</option>
                              <option>XL</option>
                            </select>
                            <label for="sel2" class="form-label">Seleccione talla (seleccione una):</label>
                          </div>          
                        </form>
                    </div>
                    <div class="col p-3">  
                        <form action="/action_page.php">
                          <div class="form-floating mb-3 mt-3">
                            <select class="form-select" id="sel3" name="sellist3">
                              <option>Hombre</option>
                              <option>Mujer</option>
                            </select>
                            <label for="sel3" class="form-label">Seleccione genero (seleccione uno):</label>
                          </div>    
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-3">
                          <button type="button" class="btn btn-secondary text-info active">Buscar</button> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col">
    <!-- imagen -->
                        <h2>Imagen uniforme #123</h2>
                        <p>Uniforme IED Ciudad de Bogota</p>
                        <div class="card bg-warning text-primary" style="width:400">
                            <img class="card-img-top" src="uniform1.png" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Niña, talla M</h4>
                                <a href="#" class="btn btn-secondary text-info">Reservar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
    <!-- info -->
                        <h2>Descripción</h2>
                            <div class="mt-4 p-5 bg-secondary text-info rounded">
                                <h1>Uniforme # 123</h1> 
                                <p>Uniforme de niño talla xs, se encuentra en optimas condiciones con unos pequeñas marcas debido al us
                                su estado es 8/10 a un excelente precio
                                </p> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock%}